
body {
  margin: 0px; padding: 0px;
  height: 100%;
  background-color: #e6e6e6;

}
#sbody {
  background-color: #e6e6e6;
}

table {
  width: 100%;
  border-style: none;
  border-collapse: collapse;
 
}


/*--------HEADER---------*/

#header {
  color:white;
  font-family: verdana;
  font-weight: 100;
  height: 60px;
  background-color: #3399FF;
  padding:;
  text-align: right;
  border-bottom: 2px solid #FF8000;
}


 button {
  font-weight: 200;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color:#3399FF;
  color: white;
  text-size: 20px;
  border: 1px solid white;
  border-radius: 4px;

 }
button:hover {
  background-color:#e6e6e6;
  cursor: pointer;
  color:#3399FF;
  box-shadow: 2px 2px 100px #888888;
  transition-duration: .5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}













#signout {
  font-family: verdana;
  border-radius: 4px;
  font-weight: 200;
  font-size: 15px;
  background-color: white;
  height: 40px;
  width: 75px;
  padding: 5px 4px 5px 4px;
  color: black;
  margin: 0 10px 0 10px;
  text-decoration:none;
}

#logo {
  margin:0 0 0 0;
  width:30%;
  text-align: center;
  font-size: 40px;
}
span#life {
  color:#FF8000;
  font-style: italic;
}
#logo:hover {
  cursor:pointer;
  text-shadow: 2px 2px black;
}




/*--------THE LEFT SIDE NAVIGATION---------*/
#navtd {
  background-color: white;
  color:white;
  border-right: 2px solid #FF8000;
  float:left;
  width:200px;
  height:100%;
}
#navtd ul {
  list-style:none;
  text-align:center;
  position:relative;
  left:-20px;
}
#navtd li {
  padding: 2px 0;
  margin-top: -5px;
}



a, a:visited, a.sidebut:visited {
  text-decoration: none;

}

.sidebut {
  font-family: verdana;
  font-weight: 200;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color:#3399FF;
  color: white;
  text-size: 20px;
  border: 1px solid white;
  border-radius: 4px;

 }
.headbut:hover, .sidebut:hover {
  background-color:#e6e6e6;
  cursor: pointer;
  color:#3399FF;
  box-shadow: 2px 2px 100px #888888;
  transition-duration: .5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


 a.sidebut:hover {
  border-left: 10px solid #FF8000;  
}

a.headbut:hover, a.sidebut {
  cursor: pointer;
  text-decoration: none;
}

.headbut:active, .sidebut:active {
background-color: #FF8000
}




#sbevents {
  padding: 7px 53px 7px;
}

#sbfood {
padding: 7px 60px 7px;
}

#sbfitness {
padding: 7px 52px 7px; 
}

#sbcalendar {
padding: 7px 45px 7px;
}

#sbnotifications {
padding: 7px 32px 7px;
}

.headbut {
   font-family: verdana;
  font-weight: 200;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color:#3399FF;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0px 6px;
}
#hbhome {
  padding: 7px 15px 7px
}
#hbsettings {
  padding: 7px 10px 7px
}
#hbprofile {
  padding: 7px 15px 7px
}


.callink {
  text-decoration: none;
}

.cal {
  font-family: sans-serif;
  border: 1px solid black;
  color: #3399FF;
  width: 170px;
  margin-left: -5px;
  border: 2px solid #FF8000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cal td {
  border:1px solid black;
}
.cal td:hover {
  background-color: #FF8000;
  color:#3399FF;
  cursor: pointer;
}
.cal td:active {
  background-color: #3399FF;
  color:white;
  cursor: pointer;
}
.cal .calbut {
  width: 20px;
  height: 25px;
}


/*--------RIGHT SIDE OF THE NAV BAR---------*/
#rightside {
  vertical-align:top;
  text-align: left;
}

#HSS {
  text-align: left;
  color:#FF8000;
  background-color: white;
  position: absolute;
  left:300px;
  top:100px;
  min-width: 875px;
  max-height: 460px;
  border: 2px solid #FF8000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: scroll;
}







/*--------SignIn Page---------*/
#signform {
  text-align: left;
  position:absolute;
  top: 30%;
  left: 35%;
  background-color: white;
  padding: 10px 10px;
  font-family: verdana;
  border: 5px solid #FF8000;
  height:40%;
  width:30%;
}
#signform h1 {
  font-family: verdana;
  font-weight: 100;
  font-size: 30px;
  margin: 0 0 -5px 0;

}
#abutton {
  padding: 10px; 
  margin-right: 10px
  font-weight: 100;
  font-size: 15px;
  width: 150px;
  height: 40px;
  background-color:#3399FF;
  color: white;
  text-size: 20px;
  border-style:none;
  border-radius: 4px;
  text-decoration: none;
}
#abutton:hover {
  background-color:#FF8000;
  cursor: pointer;
  color:white;
  box-shadow: 2px 2px 100px #888888;
  transition-duration: .5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

/*#3399FF=blue, orange=#FF8000 */



/*--------Misc---------*/



#footer1 {
  text-align:center;
  font-weight: 100px;
  font-family: verdana;
  background-color:#3399FF;
  color:white;
  position:fixed;
  bottom:0;
  width:100%;
  border-top: 2px solid #FF8000;
}
/*
#footer2 {
  text-align:left;
  margin-left: 204px;
  padding-left: 10px;
  font-weight: 100;
 padding-top: 20px; 
 padding-bottom: 20px; 
  font-weight: 100px;
  font-family: verdana;
  background-color:#3399FF;
  color:white;
  position:fixed;
  bottom:0;
  width:100%;
  border-top: 2px solid #FF8000;
}
*/
#footer2 {
  text-align:left;
  /*margin-left: 204px;*/
  padding-left: 30px;
  font-weight: 100;
 padding-top: 10px; 
 padding-bottom: 20px; 
  font-weight: 100px;
  font-family: verdana;
  background-color:white;
  color:#3399FF;
  position:absolute;
  right:0px;
  top:61px;
  /*width:;*/
  border-left: 2px solid #FF8000;
  width: 180px;
}

pre {
  display:inline-block;
}

#HSS h1 {
  font-family: verdana;
  margin-left: 30px;
  font-weight: 100;
  color:#FF8000;
  text-shadow: 1px 1px black;
}

#HSS p {
  margin-left: 30px;
  font-family: verdana;

}

.newfeedentry {
  color:black;
}


.bigcal {
  border: 1px solid black;

  width: 865px;
  height: 30px;
}



#HSS #scrollholder {
  overflow: inherit;
  background-color:;
}








.slideshow-container {
  max-width: 700px;
  max-height: 500px;
  position: relative;
  margin: auto;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #;
  background-color: #d3d3d3;

  font-weight: bold;
  font-size: 18px;
  transition: .3s ease;
  border-radius: 0 3px 3px 0;
   margin-left: -188px;

}

/* Position the "next button" to the right */
.next {
  margin-left: 471px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 15px;
  font-family: Arial;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #FF8000;
  border-radius: 50%;
  display: inline-block;


  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3399FF;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slide {
  background-color: white;
  width: 700px;
  border: 2px solid #FF8000;
  height: 400px;
  margin-top: 40px;
  margin-left: -190px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.website {
  margin-top: -20px;
  font-size: 15px;
  font-family: verdana;
}


/*
a:link, a:visited {
    background-color: #FFE4C4;
    color: black;
    font-family: arial;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color:   #6495ED;
} */



.slide a {

}

.slide a:hover {

} 



.name {
 padding-top: 0px;
 text-align: left;
 margin-left: 60px;
  font-family: verdana;
  font-size: 40px;
  color:#FF8000;
  text-shadow: 1px 1px black;

}

.address {
  color:#3399FF;
  text-align: left;
  margin-left: 60px;
  font-family: verdana;
}

.rating, .description {
  color:#3399FF;
  text-align: left;
  margin-left: 60px;
  margin-right: 60px;
  font-family: verdana;
}

.phone, .timeEvent {
  color:#3399FF;
  text-align: left;
  margin-left: 60px;
  font-family: verdana;

}

.website {
  color:white;
    text-align: left;
    margin-left: 60px;
    font-family: verdana;
    padding: 7px 7px 7px;
    border-radius: 3px;
    border: 1px solid #3399FF ;
    background-color: #FF8000; 
    margin-top: 
}

.buyTickets {
  color:white;
    text-align: left;
    margin-left: 10px;
    font-family: verdana;
    padding: 6px 7px 7px;
    border-radius: 3px;
    border: 1px solid #3399FF ;
    background-color: #FF8000; 
    margin-top: 
}


.website:hover, .buyTickets:hover {
  background-color: #3399FF;
  border: 1px solid #FF8000;
  cursor: pointer;
}

.myslides {
  border: 2px solid red;
}
.testl {
  background-color: red;
}


#imageID {
width:850px;
height: 345px;
margin-left:10px;
}






#customrange {
  width: 3rem;
}
#addFoodToCal {

  margin-bottom: 10px;
  position: relative;
  background-color: #FF8000;
  width: 200px;
}

#addFoodToCal
{
  color:white;
  padding: 7px 7px 7px;
  border: 2px solid #3399FF;
  border-radius: 4px;
box-shadow: 2px 2px 10px #888888;
}

#addFoodToCal:visited {
  color:white;
}
#addFoodToCal:hover {
  background-color: #3399FF;
  color: white;
  border: 2px solid #FF8000;
}
#addFoodToCal:active {
  background-color: red;
  color:white;
}


.SSF {
  padding-top: 25px;
  font-family: verdana;
  margin-left: 60px;
font-style: italic;
}

.dotdiv {
  position: absolute;
  left: 520px;
  bottom: -50px;
}

#SSDescription {
  font-size: 12px;
  padding-right: 36px;
  text-align: justify;
}

.SSFoodImage {
  width:150px;
  height: 135px;
  position:absolute;
  right:300px;
  bottom: 40px;
}

#currPage a.sidebut {
box-shadow: 2px 2px 10px #888888;
  border:2px solid #FF8000;
}

#range {
  font-style: italic;
  color: gray;
  font-weight: 100px;
}

#footerp {
  line-height: 1.2;

}

.description {
  color:black;
}

.timeEvent {
  margin-top: -30px;
  font-size: 25px;
}

#pix {
  position: relative;
  margin-top: -100px; 
  margin-left:420px;
  width: 200px;
  height: 130px;
}

#workouts {
  display:none;

  top: 100px;
}

#workouts, #createworkout {
  height: 400px;
}

.fitnessTab {
  width:379px;
  height:50px;
  border-radius: 0;
  margin-left: 1px;
  margin-right:1px;
  text-align: center;
  margin-top: 10px;
  border:none;
  border-bottom: 4px solid #3399FF;
}

#createWorkoutTab:hover, #SavedWorkoutsTab:hover {
  color:black;
background-color: white;
}

#createWorkoutTab {
  background-color: #FF8000;
  border-bottom: 4px solid #3399FF;

}

#fitnessContainer {
  position: absolute;
  top: 80px;
  right: 150px;
  background-color: white;
  border: 2px solid #ff8000;
  width: 60%;
  min-width: 600px;
  height: 500px;
  font-family: verdana;

}

.fitnessForm {
  margin-top: 10px;
  margin-left: 20px;

}

.addToWorkouts {
  background-color: #3399FF;
  color: white;
  width: 200px;
  border: 2px solid #FF8000;
  border-radius: 2px; 
  padding: 7px 7px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 100;
}
.addToWorkouts:hover {
  background-color: white;
  color:#3399ff;
}
.addToWorkouts:active {
  background-color: #FF8000;
  color:#3399ff;
}


a {
  font-family: verdana;
}


#workout1 {
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
  display: inline-block;
  width: 500px;
  font-family: verdana;
  visibility: hidden;
}


#checkbox {
vertical-align: top;
visibility: hidden;
}

#workoutName {
font-size: 20px;
font-weight: 800;
margin-left: 20px;
margin-top: 10px;
}
#workoutAreas {
margin-left: 20px;
font-style: italic;
}
#workoutDuration {
margin-left: 20px;
margin-bottom: 10px;
font-style: italic;
}

#hourss {
  width: 40px;
  margin-left: 54px;
}
#hidethisbutton {
  visibility: hidden;
}

div#createworkout #directions {
  color: #3399FF;
  font-size: 20px;

  margin-left: 20px;
  padding-bottom: -10px;
}

#AA {
margin-left: 40px;
}

#BB {
margin-left: 10px;
}

#firstline {
  font-size: 35px;
  color:#3399FF;

}

#secondline {
font-size: 25px;
color:#3399FF;
margin-top: -10px;
}

#thirdline {
font-size: 20px;
color:#3399FF;
}

 #hometitle {
  font-size: 40px;
}

